:root {
    --green: #4e6959;
    --green-transparent: #435e4ecc;
    --txtcolor: #cff7ed;
    --txtcolor-hover: #ffffff;
    --txtcolor-bold: #91e8f3;
    --txtcolor-bold-hover: #008fa1;
    --txtcolor-bold-1: #eeabd3;
    --txtcolor-bold-1-hover: #aa5889;
    --txtcolor-bold-2: #c2a8eb;
    --txtcolor-bold-2-hover: #7357a0;
    --txtcolor-italics: #ff7ccb;
    --txtcolor-link: #a7b1ff;
    --pink: #DAB4CB;
    --purple: #B4B8DA;
    --beige: #fffad1;
}

html {
    height: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-image: url(../images/photos/IMG_0011.JPEG);
    background-attachment: fixed;
    background-size: cover;
    color: var(--txtcolor);
    padding: 40px;
    font-family: normal;
    cursor: url('../images/ui/light\ pink\ heart\ cursor.png'), default;
    box-sizing: border-box;
}

p {
    font-size: 11px;
}

a {
    
    color: var(--txtcolor-link);
    cursor: url('../images/ui/pinkpointer.png'), pointer;
}

a:visited {
    color: var(--txtcolor-link);
}

b {
    color: var(--txtcolor-bold);
}

b:hover {
    color: var(--txtcolor-bold-hover);
    filter: drop-shadow(1px 1px 0 var(--txtcolor-bold)) drop-shadow(-1px -1px 0 var(--txtcolor-bold)) drop-shadow(-1px 1px 0 var(--txtcolor-bold)) drop-shadow(1px -1px 0 var(--txtcolor-bold));
}

i {
    color: var(--txtcolor-italics);
}



.hoverpoint:hover {
    cursor: url('../images/ui/pinkpointer.png'), pointer;
}

li {
    font-size: 11px;
}

li:hover {
    color: var(--txtcolor-hover);
    font-size: 11.5px;
}

a:hover {
    color: var(--beige);
}

iframe {
    border: var(--txtcolor) 2px solid;
    box-sizing: border-box;
}

p:hover {
    color: var(--txtcolor-hover);
}

h2 {
    font-size: 14px;
    color: var(--txtcolor);
    margin-top: 0px;
}

h2:hover {
    color: var(--txtcolor-hover);
}

.h2-box {
    width: 100%;
    background-color: var(--txtcolor);
    color: var(--green);
    padding-top: 6px;
    padding-bottom: 6px;
    text-align: center;
}


.h2-box:hover {
    color: var(--green);
    background-color: var(--txtcolor-hover);
}

.h2-ul {
    width: 100%;
    background: none;
    color: var(--txtcolor);
    padding-top: 0px;
    padding-bottom: 3px;
    text-align: left;
    border-bottom: var(--txtcolor) 2px solid;
}

.h2-ul:hover {
    color: var(--txtcolor-hover);
    border-bottom: var(--txtcolor-hover) 2px solid;
}

.h2-ol {
    width: 100%;
    background: none;
    color: var(--txtcolor);
    padding-top: 0px;
    padding-bottom: 3px;
    text-align: left;
    border: var(--txtcolor) 2px solid;
    padding: 5px;
    box-sizing: border-box;
}

.h2-ol:hover {
    color: var(--txtcolor-hover);
    border: var(--txtcolor-hover) 2px solid;
}

table {
    width: 100%;
    max-width: 1350px;
    margin: auto;

}

.musictable {
    border: var(--txtcolor) 2px solid;
}

.musictable tr {
    font-size: 12px;
    text-align: center;

}

.musictable td {
    vertical-align: middle;
    border: var(--txtcolor) 2px solid;
    color: var(--txtcolor);
    padding: 0px;
}

.musictable td:hover {
    border: var(--txtcolor-hover) 2px solid;
    color: var(--txtcolor-hover);
}

.musictable .tableheader {
    background-color: var(--txtcolor);
    color: var(--green);
}

.musictable .tableheader:hover {
    background-color: var(--txtcolor-hover);
    color: var(--green);
}

.musictable img {
    width: 60px;
}

.main {
    animation: fadeInUp 1s;
}

td {
    vertical-align: top;
}

hr {
    color: var(--txtcolor);
}

.lefttd a {
    margin: 5px;
    line-height: 20px;
    text-decoration: none;
    font-size: 11px;
}
.lefttd a:hover {
    margin-left: 10px;
}

.lefttd {
    width: 220px;
    font-size: 16px;
}

.lefttd b {
    color: var(--txtcolor-bold-1);
}

.lefttd b:hover {
    color: var(--txtcolor-bold-1-hover);
    filter: drop-shadow(1px 1px 0 var(--txtcolor-bold-1)) drop-shadow(-1px -1px 0 var(--txtcolor-bold-1)) drop-shadow(-1px 1px 0 var(--txtcolor-bold-1)) drop-shadow(1px -1px 0 var(--txtcolor-bold-1));
}

.middletd {}



.righttd {
    width: 250px;
}

.righttd a {
    font-size: 11px;
}

.righttd b { 
    color: var(--txtcolor-bold-2);
}

.righttd b:hover {
    color: var(--txtcolor-bold-2-hover);
    filter: drop-shadow(1px 1px 0 var(--txtcolor-bold-2)) drop-shadow(-1px -1px 0 var(--txtcolor-bold-2)) drop-shadow(-1px 1px 0 var(--txtcolor-bold-2)) drop-shadow(1px -1px 0 var(--txtcolor-bold-2));
}

.spacetd {
    width: 10px;
}

.righttd h2 {
    margin-top: 0px;
    text-align: center;
    padding-top: 0px;
    padding-bottom: 3px;
    border-bottom: var(--txtcolor) 3px double;
}

.righttd h2:hover {
    border-bottom: var(--txtcolor-hover) 4px double;
}

.container {
    width: 100%;
    border: var(--txtcolor) 3px double;
    border-radius: 6px;
    padding: 25px;
    background-color: var(--green-transparent);
    backdrop-filter: blur(8px);
    box-shadow: 5px 5px rgba(0, 0, 0, 0.336);
    box-sizing: border-box;
    margin-bottom: 20px;
}

.container:hover {
    border: var(--txtcolor) 4px double;
    padding: 24px;
}

.container-small {
    width: 100%;
    border: var(--txtcolor) 3px double;
    border-radius: 6px;
    padding: 25px;
    padding-left: 16px; padding-right: 16px;
    background-color: var(--green-transparent);
    backdrop-filter: blur(8px);
    box-shadow: 5px 5px rgba(0, 0, 0, 0.336);
    box-sizing: border-box;
    margin-bottom: 20px;
}

.container-small:hover {
    border: var(--txtcolor) 4px double;
    padding: 24px;
    padding-left: 15px; padding-right: 15px;
}

.container-xsmall {
    width: 100%;
    border: var(--txtcolor) 3px double;
    border-radius: 6px;
    padding: 9px;
    background-color: var(--green-transparent);
    backdrop-filter: blur(8px);
    box-shadow: 5px 5px rgba(0, 0, 0, 0.336);
    box-sizing: border-box;
    margin-bottom: 20px;
}

.container-xsmall:hover {
    border: var(--txtcolor) 4px double;
    padding: 8px;
}

.nohover {
    width: 100%;
    border: var(--txtcolor) 3px double;
    border-radius: 6px;
    padding: 25px;
    background-color: var(--green-transparent);
    backdrop-filter: blur(8px);
    box-shadow: 5px 5px rgba(0, 0, 0, 0.336);
    box-sizing: border-box;
    margin-bottom: 20px;
}



.container-inner {
    width: 100%;
    background: none;
    text-align: left;
    border: var(--txtcolor) 2px solid;
    padding: 5px;
    box-sizing: border-box;
    overflow-y: scroll;
}

.container-inner:hover {
    border: var(--txtcolor-hover) 2px solid;
}

.container-2 {
    background-color: var(--pink);
    box-shadow: 5px 5px var(--purple);
}


button {
    width: 100%;
    border: var(--txtcolor) 3px double;
    border-radius: 6px;
    padding: 25px;
    background-color: var(--green-transparent);
    backdrop-filter: blur(8px);
    box-shadow: 5px 5px rgba(0, 0, 0, 0.336);
    box-sizing: border-box;
    margin-bottom: 20px;
    color: var(--txtcolor);
}

.button-small {
    width: auto;
    padding: 8px;
}

.button-link {
    width: auto;
    padding: 2px;
    margin: auto;
}

button:hover {
    cursor: url('../images/ui/pinkpointer.png'), pointer;
    background-color: var(--txtcolor);
    color: var(--green);
    box-shadow: none;
    filter: drop-shadow(1px 1px 0 var(--green)) drop-shadow(-1px -1px 0 var(--green)) drop-shadow(-1px 1px 0 var(--green)) drop-shadow(1px -1px 0 var(--green));
}

.shuffle {
    width: 20px; height: 20px; float:left; position: relative; left: -5px; bottom: 12px; display: block;
    background-image: url(../images/ui/shuffle_dark.webp);
    background-size: 20px 20px;
}

.shuffle:hover {
    background-image: url(../images/ui/shuffle2_dark.webp);
    cursor: url('../images/ui/pinkpointer.png'), pointer;
}

details {
    width: 100%;
    margin: 0px;
    vertical-align: middle;
    padding: 5px;
    padding-bottom: 4px;
    margin-top: 5px;
    box-sizing: border-box;
}
summary {
    border: var(--txtcolor) 3px solid;
    color: var(--txtcolor);
    padding-left: 5px;
    text-align: center;
    margin-bottom: 5px;
    height: 24px;
    padding-top: 11px;
}
  
summary:hover {
    background-color: var(--txtcolor);
    color: var(--green);
    cursor: url('../images/ui/pinkpointer.png'), pointer;
}

details summary::after {
    content: "Click to show";
}
  
details[open] summary {
    border: var(--txtcolor-hover) 3px solid;
    color: var(--txtcolor-hover);
}

details[open] summary:hover {
    border: var(--txtcolor-hover) 3px solid;
    background-color: var(--txtcolor-hover);
    color: var(--green);
}

details[open] summary::after {
    content: "Click to hide";
}
  
.blinkie {
    width: 150px;
    height: 20px;
}

@font-face {
    font-family: normal;
    src: url(../fonts/Micro-Six.ttf);
}


@keyframes fadeInUp {
    0% {
        transform: translateY(30px);
        opacity: 0;
    }
    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}