
iframe {
    position: absolute; 
    border: 0;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10;
}

a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10;
    color: black;
    font-style: normal;
    text-decoration: none;
}

a:hover {
    color: white;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.head {
    background-color: #b4d0e3;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    width: 100%;
    padding-left: 1px;
    font-weight: bold;
    font-size: 11px;
}

.head2 {
    background-color: #f3d5c9;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    width: 100%;
    padding-left: 1px;
    font-size: 11px;

}

.inline {
    display: inline;
    float: left;
    margin-right: 7px;
}

td {
    padding: 0px;
    margin: 0px;
}

summary {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10;
    font-weight: bold;
    margin-left: 3px;
}